<!doctype html>
<html>
  
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css"> 
  </head>
  
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Erstegrad</a>
          <div class="navbar-content">
            <ul class="nav">
              <li class="active">
                <a href="#">Početna</a> 
              </li>
              <li>
                <a href="#">Kontakt</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
            <p>
              <b>Tip:</b>Prikaz svih story-a.</p>
          </div>
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class="hero-unit">
              <p>
                <br> 
              </p>
              <p>
                <a class="btn btn-primary btn-large">Dodaj novi...</a> 
              </p>
            </div>
            <div class="hero-unit">
              <h1>Story 1</h1>
              <p>blaslbllagfagjsegjsjgsgs</p>
              <p>
                <a class="btn btn-primary btn-large">Više...</a> 
              </p>
            </div>
            <div class="hero-unit">
              <h1>Story 2</h1>
              <p>A tagline with a more in-depth description</p>
              <p>
                <a class="btn btn-primary btn-large">Više...</a> 
              </p>
            </div>
          </div>
          <div class="pagination">
            <ul>
              <li>
                <a href="#">Prije</a> 
              </li>
              <li>
                <a href="#">1</a> 
              </li>
              <li>
                <a href="#">2</a> 
              </li>
              <li>
                <a href="#">3</a> 
              </li>
              <li>
                <a href="#">4</a> 
              </li>
              <li>
                <a href="#">Poslije</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>