<!doctype html>
<html>
  
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <title>Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css"> 
  </head>
  
  <body>
    <title>Stories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" href="css/divshot-util.css">
    <link rel="stylesheet" href="css/divshot-canvas.css">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Erstegrad</a>
          <div class="navbar-content">
            <ul class="nav">
              <li class="active">
                <a href="#">Početna</a> 
              </li>
              <li>
                <a href="#">Kontakt</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well">
            <p>
              <b>Tip:</b>Prikaz i uređivanje elemenata story-a.</p>
          </div>
        </div>
        <div class="span9">
          <div class="row-fluid">
            <div class="hero-unit">
              <h1>Story 1</h1>
              <p>Opis priče lorem ipsum...</p>
              <div class="container">
                <p>
                  <a class="btn btn-primary">Dodaj...</a> 
                </p>
              </div>
              <p></p>
              <div class="media">
                <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64">
  </a>
                <div class="media-body">
                  <h4 class="media-heading">www.xyz.com/pages/513b528b72082300110015c1</h4>
                  <button class="btn btn-danger"
                  type="button">Izbriši</button>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64">
  </a>
                <div class="media-body">
                  <h4 class="media-heading">www.xyz.com/pages/513b528b72082300110015c1</h4>
                  <button class="btn btn-danger"
                  type="button">Izbriši</button>
                </div>
              </div>
              <div class="media">
                <a class="pull-left" href="#">
    <img class="media-object" src="http://placehold.it/64x64">
  </a>
                <div class="media-body">
                  <h4 class="media-heading"></h4>
                  <h4 class="media-heading">www.xyz.com/pages/513b528b72082300110015c1</h4>
                  <button class="btn btn-danger"
                  type="button">Izbriši</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>